<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN | DIALOG</title>
    {{>_include_meta}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login">
        <div class="login-container">
        <div class="login-logo">
            <img src="/img/logo-banner.jpg" class="img-responsive" alt="Dialog App">
        </div>
        <div class="login-text">
            {{{body}}}
        </div>
        </div>
    </div>
</body>
</html>