<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIALOG - Community Story Sharing</title>

    {{>_include_meta}}
</head>
<body>
    {{>_header}}
    {{>_add_btn}}
    <div class="container">
        {{{body}}}
    </div>
    
    {{>_include_js}}
    <script>
        if(document.querySelector('#body')){
            CKEDITOR.replace('body', {
                //plugins: 'wysiwygarea, toolbar, basicstyles, link',
                //format_tags: 'p;h1;h2;h3;h4;h5;h6;pre;address;div'
            });
        }
    </script>
</body>
</html>