<div class="section mb-4">
    <p class="lead">Ready to Share Your Story?</p>
    <p>An exclusive platform to share your content</p>
</div>

<div class="divider"></div>

<div class="section">
    <a class="google-login-btn" href="/auth/google">
    </a>
</div>